[submodule "TinyRecursiveModels"]
	path = TinyRecursiveModels
	url = https://github.com/LingXuanYin/TinyRecursiveModels
[submodule "llm_related"]
	path = llm_related
	url = https://github.com/LingXuanYin/llm_related
[submodule "dgl"]
	path = dgl
	url = https://github.com/dmlc/dgl.git
